
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-size: 20px;
}

.container {
    height: 100%;
    margin: auto;
    width: 50vw;
    background-color: aqua;
    padding: 1rem;
}

.flex-1 {
    flex-grow: 1;
}

ul {
    list-style-type: none;
}

li.user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    padding: 1rem;
    border: 1px solid black;
    margin: 1rem;
    border-radius: 5px;
}

button {
    background: none;
    border: none;

    > svg {
        fill:white;
    }
}

.kebab-container {
    position: relative;
    background-color: brown;
    border-radius: 50%;
}

.menu {
    display: none;
    position: absolute;
    top: 100%;
    inset-inline-start: 0;
    border: 1px solid black;
    border-radius: 2px;
    background-color: azure;
    z-index: 1;
}

.pressed .menu {
    display: block;
}

.menu li {

}

.menu li a {
    display: block;
    margin: 0.25rem;
}