

.form-dialog[open] {
    width: 400px;

    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 1rem;

    header {
        flex: 0 0 auto;
        position: relative;

        h2 {
            text-align: center;
        }

        button {
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    form {
        display: contents;
    }

    .error-banner {
        display: none;
        background-color: red;
    }

    .error-banner.show {
        display: block;
    }

    .form-dialog-body {
        flex: 1 1 auto;

        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
            display: block;
        }
    }

    .form-dialog-footer {
        flex: 0 0 auto;

        display: flex;
        gap: 10px;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
}

.form-dialog[data-state="submitting"] {
    opacity: 0.5;
    pointer-events: none;
}